body{
    display: flex;
    flex-direction: column;
}

.top{
    display: flex;
    background-color: #1F2937;
    flex: auto;
    
    justify-content: center;
    align-items: center;
}

.top .one{
    color: #F9FAF8;
    flex: auto;
    text-align: center;
}

#hero_main{
    font-size: 48px;
}

.top .two{
    color: #F9FAF8;
    flex: auto;
    text-align: center;
    font-size: 48px;

}



.middle1{
    display: flex;
    flex: auto;
    
}

.middle2{
    display: flex;
    flex: auto;
    
}

.bottom{
    display: flex;
    flex: auto;
    
}

