body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
}



.header{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: center;
    gap: 500px;
    align-items: center;
    
}

.right_header{
    display: flex;
    text-align: right;
    gap: 20px;
    flex: 1;
    border: 5px solid green;
    margin: 10px;
    justify-content: center;
}

#logo{
    font-weight: bold;
    text-align: center;
    font-size: 24px;
    flex: 1;
    border: 5px solid red;
}






.top{
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
    
}

.top .one{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;

    
}

#hero_main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
    text-align: center;
    
}

#hero_secondary{
    font-size: 18px;
    color: #F9FAF8;
}

button{
    width: 100px;
    background-color: blue;
    color: white;
}

.top .two{
    color: #F9FAF8;

}








.middle1{
    display: flex;
    flex: auto;
    
}

.middle2{
    display: flex;
    flex: auto;
    
}

.bottom{
    display: flex;
    flex: auto;
    
}

